.collectionContainer {
    margin-top: 20px;

    h1 {
        text-decoration: underline;
        text-align: center;
    }

    .collectionContent {
        background-color: $red2;
        // padding: 10px;
        color: white;
        width: 550px;

        .itemBook {
            display: flex;
            justify-content: space-between;
            align-items: center;
            display: grid;
            grid-template-columns: 55% 30% 15%;

            p {
                // margin: 0 auto;
                padding: 3px;
                border: 1px solid white;
            }
        }
    }
}